.page-header
  %h1 Trend App
  A simple trend calculator for some NYSE stocks
%div This application calculates whether a stock is currently 'bullish' or 'bearish', based on the current price of the stock and a 20-day moving average.
%div= image_tag "bull.jpeg"
%div= image_tag "bear.png"

