<!DOCTYPE HTML>
<html>
	<head>
		<div>
    	<h1>Simple Trend Calculator For Some NYSE Stocks</h1>
    	<p>
      	This application calculates whether a stock is currently 'bullish' or 'bearish', based on the current price of the stock and a 20-day moving average. 
    	</p>
  	</div>
</html>